div {
background-color: yellow;
height: 20px;
width: 20px;
}
.grid{
    height: 400px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}
.previous-shape{
    height: 80px;
    width: 80px;

}
.previous-grid{
    height: 80px;
    width: 80px;
    display: flex;
    flex-wrap: wrap;
  
}
.block{
    background-color: blue;
}
.block2{
    background-color: purple;
}
.block3{
    background-color: seagreen;
}